.group {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    &__button {
      background: 0 none;
      outline: 0 none;
      color: #97c1e1;
      display: block;
    }
  }
}
